
body                { font: 62.5% "Trebuchet MS", sans-serif } /* sets 1em == 10px */

.left               { float: left }
.right              { float: right; text-align: right }

div#header          { position: relative }
div#header a img    { height: 120px }
#themeswitcher      { position: absolute; right:8px; top:0 }
#tokenzone          { position: absolute; right:8px; top:50%; text-align:right }

form                { display: inline-block }

div#identity        { margin: 4px 0 0 0 }

div#inhead          { margin: 0px 10px 0px 20px }
div.wstrade-notice          { padding: 0.2em 0.8em; display: none }
div.wstrade-notice .ui-icon { margin-right: 0.3em }
div.wstrade-notice p        { margin: .3em 0 }
.local-content      { padding: 8px }

span.bigtext { font-size: 1.50em }
div.inputzone { margin: 12px }
div.butonzone { margin: 12px; display: inline-block }
div.innerzone { padding: 12px }
div.innerzone .ui-state-active { color: #f00 }
div.buttonset    { display: inline-block; margin-bottom: 6px }

div#symbolbuts   { display: none }
div#durationflds { display: none }
div#payoutflds   { display: none }
div#contractbuts { display: none }
div#startflds    { display: none }

div#barriers            { margin-top: 8px }
div.cts                 { display: none }
div.contract            { float: left; width: 220px; height: 220px; padding: 6px }
div.contract .contract_header
                        { height: 50px }
div.contract .error     { display: none }
div.contract .longcode  { font-style: italic }
div.contract div        { margin: 2px 0 0 0 }
div.contract div.elbow  { display: inline-block; width: 60px; text-align: right; margin-right: 12px }

input.thininput         { width: 60px }
input#token             { width: 140px }
div#rangeslider         { width: 200px }
#slider1, #slider2      { margin-top: 12px }

h2.livesym              { margin-top: 1px }
.ui-livesym-ttip        { max-width: 220px; cursor: move }
.ui-livesym-ttip .spark { cursor: none }
.babybox                { border: 1px outset; padding: 2px 3px; cursor: pointer }
